<%- include('partials/header') %>

<div class="centered-container">
    <div class="d-flex custom-gap">
        <!-- Wrap the "Dashboard" card with an anchor tag -->
        <div class="dashboard-card">
            <img src="/images/3515462.jpg" class="card-img-top" alt="...">
            <a href="/outletdata_dashboard">
                <div class="card-footer custom-footer">
                    <h5 class="card-title mb-0">Dashboard</h5>
                </div>
            </a>
        </div>

        <div class="dashboard-card">
            <img src="/images/4016257.jpg" class="card-img-top" alt="...">
            <a href="/add_stocks">
                <div class="card-footer custom-footer">
                    <h5 class="card-title mb-0">Manage Stocks</h5>
                </div>
            </a>  
        </div>

        <div class="dashboard-card">
            <img src="/images/2996467.jpg" class="card-img-top" alt="...">
            <a href="home.html">
                <div class="card-footer custom-footer">
                    <h5 class="card-title mb-0">Data Sync</h5>
                </div>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
