<%- include('partials/header_outletdb_managestocks') %>

<div class="form-container-addstock">
    <form class="row g-3" method="POST" action="/return_stocks">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Item Code</label>
          <input type="text" class="form-control" id="inputEmail4" name="item_code">
        </div>
        <div class="col-md-4">
          <label for="inputQuantity" class="form-label">Quantity</label>
          <input type="text" class="form-control" id="inputQuantity" placeholder="Enter quantity" name="quantity">
        </div>
        <div class="col-md-4">
          <label for="inputMfd" class="form-label">Return Date</label>
          <input type="date" class="form-control" id="inputMfd" name="rdate">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Reason for Return</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="reason" name="reason">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Return Stock</button>
        </div>
    </form>
</div>





